<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|PT+Sans" rel="stylesheet">
    <script type="text/javascript" src="/js/paper-full.js" async></script>
    <script src="/js/jquery.min.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <title>Friends' Doodles!</title>

  </head>

  <body>

    <h1>Community Doodles!</h1>

      <% if (currentUser) { %>
      <p id="welcome">Hey there, <%=currentUser.username%>!</p>
      <script>
      var id = "<%=currentUser._id%>";
      console.log(id);
      </script>
      <% } %>

    <script>
      function openNav() {
        document.getElementById("sidenav").style.width = "200px";
      }

      function closeNav() {
        document.getElementById("sidenav").style.width = "0";
      }
      </script>

      <div onclick="openNav()" id="navicon-all">
        <div class="navicon"></div>
        <div class="navicon"></div>
        <div class="navicon"></div>
      </div>

      <div id="sidenav">
        <a href="javascript:void(0)" onclick="closeNav()">X</a>

        <%if (!currentUser) { %>
        <a href="/sessions/login">Log in</a>
        <a href="/users/register">Sign up</a>
        <% } %>

        <% if (currentUser) { %>
        <form action="/sessions?_method=DELETE" method="POST">
          <button type="submit" id="logout">Logout</button>
        </form>
        <a href="/doodles/all">Your Doodles</a>
        <a href="/doodles/">New Doodle</a>
        <% } %>

        <a href="#">About</a>
      </div>

       <div id="color-picker">
         <div class="color" id="red"></div>
         <div class="color" id="orange"></div>
         <div class="color" id="yellow"></div>
         <div class="color" id="green"></div>
         <div class="color" id="blue"></div>
         <div class="color" id="purple"></div>
         <div class="color" id="pink"></div>
         <div class="color" id="black"></div>
         <div class="color" id="white"></div>
       </div>

       <div id="stroke-width">
         <div class="stroke-item">Brush size:</div>
         <div class="stroke-item" id="incr-size">+</div>
         <div class="stroke-item" id="decr-size">-</div>
         <div class="stroke-item" id="reset-size">reset</div>
       </div>

       <div id="buttons">
         <button id="save-button">Save</button>
         <button id="undo-button">Undo</button>
         <button id="clear-button">Clear</button>
       </div>

      <% for (let i = 0; i < communityDoodles.length; i++) { %>
        <% if (communityDoodles[i].user != currentUser._id) { %>

          <script type="text/paperscript" canvas="canvas[<%=i%>]">
            var path;
            var color = 'black';
            var doodleData = null;
            var width = 5;

            function onMouseDown(event) {
              path = new Path();
              path.strokeColor = color;
              path.strokeWidth = width;
            }

            function onMouseDrag(event) {
              path.add(event.point);
            }

            function post(path, parameters) {
                var form = $('<form></form>');

                form.attr("method", "post");
                form.attr("action", path);

                $.each(parameters, function(key, value) {
                    var field = $('<input></input>');

                    field.attr("type", "hidden");
                    field.attr("name", key);
                    field.attr("value", value);

                    form.append(field);
                });

                $(document.body).append(form);
                form.submit();
            }

            $('#save-button').click(function() {
              doodleData = project.exportSVG({ asString: true });
              console.log(doodleData);
              post('/doodles/', { doodle: doodleData, user: id });
              console.log("The user id is:", id);
            });

            $('#clear-button').click(function() {
              project.clear();
            });

            $('#undo-button').click(function() {
              path.clear();
            });

            $('#red').click(function() {
              color = 'red';
            });

            $('#orange').click(function() {
              color = 'orange';
            });

            $('#yellow').click(function() {
              color = 'yellow';
            });

            $('#green').click(function() {
              color = 'green';
            });

            $('#blue').click(function() {
              color = 'blue';
            });

            $('#purple').click(function() {
              color = 'purple';
            });

            $('#pink').click(function() {
              color = 'hotpink';
            });

            $('#black').click(function() {
              color = 'black';
            });

            $('#white').click(function() {
              color = '#fffcff';
            });

            $('#incr-size').click(function() {
              width+=2;
            });

            $('#decr-size').click(function() {
              width-=2;
            });

            $('#reset-size').click(function() {
              width = 5;
            });

            project.importSVG('<%-communityDoodles[i].doodle%>');
          </script>

          <canvas id="canvas[<%=i%>]" class="all-doodles"></canvas>
      <% } %>
      <% } %>

  </body>
</html>
